{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Eventos</title>
    <link rel="stylesheet" href="{% static 'eventos/calendario.css' %}">
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-logo">Calendario de Eventos</div>
        <ul class="navbar-menu">
            <li><a href="calendario.html">Inicio</a></li>
            <li><a href="">Administración</a></li>
        </ul>
    </nav>

    
    <h1>Calendario de Eventos y Feriados</h1>

    
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    
    <script src="{% static 'eventos/calendario.js' %}"></script>
</body>
</html>